# {{ name }}

## Development

The project uses `Node.js` and `{{ manager }}`

To start development use command:

`{{ commands.start }}`

To lint your project run:

`{{ commands.lint }}`

## Production

To create production build use following command:

`{{ commands.build }}`

There will be a built project in `dist` folder.
